# by default all changes would require review from
*   @lbboe @simonmetson @mike-rhodes @will-holley @mbreslin @tonysun @jdoane @dburroughs @Joshua-Mintz @nvatama @RICELLIS

# require review from @iilyak for build related changes
.build_tools/   @iilyak
.travis.yml     @iilayk
