# by default all changes would require review from
*   @lbboe @tonysun @jdoane @dburroughs @nvatama

# require review from @iilyak for build related changes
.build_tools/   @iilyak
.travis.yml     @iilayk
